body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee; /* Light gray background color */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="datetime-local"] {
    width: 200px;
}

input.greenish, select.greenish {
    display: inline-block !important;
    margin-top: 3px;
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: content-box;
    
    border: 1px solid #8484c4;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0px 0px 7px #56ab2f;
    -moz-box-shadow: 0px 0px 7px #56ab2f;
    -webkit-box-shadow: 0px 0px 7px #56ab2f;
}

input.greenish:focus, select.greenish:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 7px #83f0c8;
    -moz-box-shadow: 0px 0px 7px #83f0c8;
    -webkit-box-shadow: 0px 0px 7px #83f0c8;
}
    
textarea.greenish {
    margin-top: 3px;
    box-sizing: border-box;
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: content-box;
    resize: vertical;
    
    border: 1px solid #8484c4;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0px 0px 7px #56ab2f;
    -moz-box-shadow: 0px 0px 7px #56ab2f;
    -webkit-box-shadow: 0px 0px 7px #56ab2f;
}

textarea.greenish:focus {
    outline: none;
    box-sizing: content-box;
    border: 1px solid #8484c4;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0px 0px 7px #83f0c8;
    -moz-box-shadow: 0px 0px 7px #83f0c8;
    -webkit-box-shadow: 0px 0px 7px #83f0c8;
}

button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.green-btn {
    background-color: #28a745;
}

.green-btn:hover {
    background-color: #218838;
}

.activity {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #aaEEaa;
}

.activity button {
    margin-left: 10px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #dddddd;
    margin: auto; /* Center horizontally */
    margin-top: 5%; /* Adjust the top margin to center vertically */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container input {
    width: 140px;
    padding-left: 35px; /* Add padding on the left for the icon */
}

.input-container .icon {
    position: absolute;
    top: 42%;
    left: 10px; /* Position the icon inside the input field on the left */
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the icon from blocking clicks */
    color: #888;
}